.matrix {
  background-color: bisque;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.row {
  display: flex;
}
.cell {
  display: flex;  
}
.matrix-button {
  width: 30px;
  height: 30px;
}
.matrix-button[data-revealed=true] {
  display: none;
}
.cell-value {
  border: 1px solid #666;
  display: none;
}
.cell-value[data-revealed=true] {
  display: flex;
  width: 28px;
  height: 28px;
  text-align: center;
  align-items: center;
  background-color: #c6c6c6;
  justify-content: center;
}