.matrix {
  background-color: bisque;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.row {
  display: flex;
}
.cell {
  display: flex;  
}
.matrix-button[data-revealed=true] {
  display: none;
}
.cell-value {
  border: 1px solid #ccc;
  display: none;
}
.cell-value[data-revealed=true] {
  display: block;
}